<%= form_for @payment do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date, :discard_day => true %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date, :discard_day => true %>
  </p>
  <p>
    <%= f.label "Payment day" %><br />
    <%= f.number_field :month_day, :min => 1, :max => 31 %>
  </p>
  <p><%= f.submit %></p>
<% end %>
